<section id="agradecimento" style="text-align: center; display: block; margin-top: 60px; margin-bottom: 30px;">
            <h2>Obrigada por chegar até aqui! ✨</h2>
            <p style="max-width: 750px; margin: 0 auto; font-size: 1.1rem; color: var(--cor-subtexto); line-height: 1.7;">
                Fico muito feliz que você tenha dedicado um tempinho para me conhecer um pouco melhor — tanto a minha trajetória profissional quanto a minha essência, minhas paixões e as pessoas que amo!
                Se quiser conversar, trocar ideias sobre tecnologia ou se conectar, fique à vontade para me enviar uma mensagem através das redes abaixo.
            </p>
        </section>

        <footer>
            <div class="footer-container">
                <button class="btn-voltar-topo" onclick="voltarAoTopo()" title="Voltar ao topo da página">⬆</button>
                <ul>
                    <li>
                        <a href="https://www.linkedin.com/in/giovana-bonic/" target="_blank">Meu Linkedin</a>
                    </li>
                    <li>
                        <a href="mailto:bonigiovana9@gmail.com">Enviar Email</a>
                    </li>
                    <li>
                        <a href="https://github.com/bonigiovana" target="_blank">GitHub</a>
                    </li>
                </ul>
            </div>
        </footer>
