<blockquote>
  <p>"Para mim, a tecnologia é o espaço onde a lógica encontra a criatividade, e é ali que sigo testando, aprendendo e refatorando — códigos, ideias e versões de mim mesma."</p>
</blockquote>

<section id="jornada" class="secao">
  <h2>Transição para a Tecnologia e quem Sou eu</h2>
  <p class="introducao-secao">
    Oi! este é um blog de apresentação para voce me conhecer um pouco mais! Aqui voce vai saber sobre a minha transição pra área da tecnologia, minha experiência na LATAM - MRO, em São Carlos, SP que foi a principal responsável por despertar habilidades e a paixão por essa área. E além do profissional, conto um pouco mais sobre mim, meus hobbies, paixões e conexões que fazem eu me tornar uma pessoa melhor!
  </p>
  <p>Deixa eu mostrar um pouco sobre o projeto <strong>AniVault</strong> que estou desenvolvendo</p>
</section>
